.nav-banner{
    background-image: url(Assets/Hero-bg.png);
    background-size: cover;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 60px;
}
.logo{
    font-size: 40px;
    font-weight: bold;
    color: blue
}
.signup-btn{
    padding: 8px 16px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.banner{
    text-align: center;
    padding: 100px 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.focus-btn{
    padding: 8px 16px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}