body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* navbar-banner */
.nav-banner{
    background-image: url(Assets/Hero-bg.png);
    background-size: cover;
}
/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 60px;
}
.logo{
    font-size: 40px;
    font-weight: bold;
    color: blue
}
.signup-btn{
    padding: 8px 16px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
/* banner */
.banner{
    text-align: center;
    padding: 100px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.focus-btn{
    padding: 8px 16px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* Action-part */
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 60px;
    gap: 40px;
    flex-wrap: wrap;
    margin: 10px 10px;
}
.left h1{
   font-size: xx-large;
   margin-bottom: 20px;
}
.left p{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
}
.launch-btn{
    padding: 8px 16px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.right img{
    border-radius: 20px;
}
/* User's Action */
.user-action{
    background-color:rgba(216, 244, 240, 0.713) ;
    text-align: center;
    padding: 20px 20px;
    border-radius: 15px;
    width: 965px;
    height bottom: 2px;
    margin: 0 auto;
    
    
}
.user-action h2{
    font-size: xx-large;
    margin-bottom: 10px;
}
.states{
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 0;
}

.state-box h3{
    font-size: 40px;
    color: blue;
    margin-bottom: 4px;
}
.state-box p{
    color: grey;
    margin: 0;
}

/* testimonial-section */
.testimonial-setion{
    text-align: center;
    padding: 40px 20px;
    margin: 10px 10px;
}
.testimonial-setion h2{
    font-size: xx-large;
}
.testimonial-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.card{
    background: rgb(200, 215, 220);
    border-radius: 10px;
    box-shadow: rgb(227, 156, 13) 0 4px 10px;
    padding: 20px;
    width: 250px;
}
.reviewer img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.reviewer{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    font-size: 14px;
}
.reviewer-info{
    display: flex;
    flex-direction: column;
    
}

